
body {
  background-color: #22355c;
  font-family: "baloo 2", "helvetica neue", sans-serif;
  color: white
}

.split-pane-container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.split-pane {
  flex-grow: 1;
  flex-basis: 0;
}

.left-pane {
  background-image: url("./imgs/map.png");
}

.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vw;
}

.right-pane > p {
  max-width: 40vw;
}

.links > a {
  color: #bababa;
  text-decoration: none;
}
